.catalog-grid {
    width: 970px;
}

.catalog-grid__top {
    display: flex;
    justify-content: flex-end;
    width: 100%;
    margin-bottom: 20px;
}

.catalog-grid__sort {
    display: flex;
    align-items: center;
    justify-content: space-between;

}

.custom-select__dropdown {
    display: none;
}

.custom-select__top {
    position: relative;
    padding-right: 16px;
    font-weight: 300;
    font-size: 16px;
    line-height: 138%;
    letter-spacing: 0.03em;
    color: #3a3a3a;
    cursor: pointer;

    &::after {
        content: "";
        position: absolute;
        right: 0;
        top: 50%;
        width: 10px;
        height: 10px;

        background-image: url(../../img/icons/angle-down.svg);
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        transform: translateY(-50%);
    }
}

.custom-select__list {}

.custom-select__item {}


.catalog-grid__content {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
}