.logo,
a.logo {
    font-size: 33px;
    line-height: 1;
    font-family: var(--font-jost);

    // color: var(--text-color);

    @include mobile {
        font-size: 16px;
    }

    &--small {
        font-size: 16px;
    }
}