.product-slider {
    display: flex;
}
.product-slider__main {
}
.swiper-wrapper {
}
.swiper-slide {
}

.product-img {
    display: flex;
    align-items: center;
    width: 100%;
    height: auto;
    max-height: 660px;
    overflow: hidden;
}

.product-slider__thumbs {
}
.product-slider__thumb {
    &:not(:last-child) {
        margin-bottom: 10px;
    }
}
